@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 10%;
    padding-right: 10%;
}

.header-links {
    display: flex;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    gap: 30px;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    min-height: 450px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section-1 {
    width: 400px;
}

.hero-title{
    font-size: 48px;
}

#hero-image {
    width: 400px;
    height: auto;
}

.hero-button {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    padding: 5px 15px;
}

.info-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 450px;
    text-align: center;
}

.info-cards-title {
    font-size: 36px;
    font-weight: bolder;
    margin: 40px auto;
    color: #1f2937;
}

.info-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    height: 225px;
}

.info-cards-container img {
    max-width: 200px;
    height: auto;
    border-radius: 15px;
}

.info {
    max-width: 200px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    max-width: 600px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.credit {
    text-align: right;
    font-weight: bolder;
}

.call-to-action-section {
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 200px;
    background-color: #3882f6;
    border-radius: 15px;
}

.cta-info {
    max-width: 400px;
}

.cta-title {
    color:#eee;
    font-weight: bold;
}

.cta-text {
    color: #e5e7eb;
    font-weight: 100;
}

.signup-button {
    color: #e5e7eb;
    background-color: #3882f6;
    border-color: #eee;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px;
}

.footer {

    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }